body {
    background-color: #E5EBED;
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    padding: 0;
}

#header {
    background-image: url('../static/rio-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.nav .menu-list {
    text-align: center;
}

.nav .menu-list li {
    display: inline-block;
    font-size: 20px;
    padding: 25px;
}

.nav .menu-list li:last-child:before {
    color: #FFF;
    content: "|";
    padding-right: 55px;
}

.nav .menu-list li a {
    color: #FFF;
}

.nav .menu-list li a:hover {
    color: #000;
    text-decoration: none;
}
#container {
    margin-top: -60px;
}

#container .main-content {
    background-color: white;
}

#footer {
    background-size: cover;
}
.footer-list {
    text-align: center;
}

.footer-list li {
    display: inline-block;
    font-size: 17px;
    padding: 25px;
}
.footer-list li a {
    color: #000;
}
.footer-list li a:hover {
    color: rgb(106, 163, 162);
    text-decoration: none;
}
